@charset "UTF-8";

																			/* GENERAL */

body {
	font-family: "Helvetica Neue",Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	font-size: 100%;
	color: black;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	font-style: normal; /* italic / normal / oblique */
	background-image: url(https://picsum.photos/1024/768?random=1);
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

																			/* CONTENU */

#dashboardpanel {
  position: inherit;
  margin: 10px auto -20px;
	width: fit-content;
}
#connexion, #registration {
  margin: 10px 0 0;
  position: inherit;
  width: 267px;
}
#connexion {
  margin-bottom: 170px;
}
#registration {
  margin-bottom: 200px;
}

#header {
	margin: 0% 10% 0% 10%;
	background-color: #ECECEC;
	padding: 0%;
}
#conteneur {
	width: auto;
	margin: 10% 7% 5% 7%;
	background-color: #ECECEC;
	padding: 2% 2%;
	border: 0px solid #9C9C9C;
	border-radius: 10px;
	text-align: center;
	opacity: 0.85;
}
.logo {
	margin: 2% 0% 0% 0%;
}
#form {
	background-color: unset;
	padding-top: 2%;
	padding-bottom: 3%;
	padding-right: 10%;
	padding-left: 10%;
}
.form-control {
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	display: block;
	float: none;
	line-height: 20px;
	position: static;
	margin: 0%;
}
.boutondesection {
	border: none;
	cursor: pointer;
	width: 100%;
	display: block;
	padding: 8px 8px;
	font-size: 140%;
    margin: 20px 0px 15px 0px;
    color: #337ab7;
    text-decoration: none;
	transition: color 0.5s;
	transition: text-decoration 0.5s;

}
.boutondesection:hover {
	color: #245884;
    text-decoration: underline;
}
.form-options-champs {
	box-sizing: border-box;
	width: 40%;
	border-radius: 5px;
	line-height: 20px;
	margin: 10px 0px 15px 0px;
	text-align: center;
}
.cacher {
	display: none;
}
.montrer {
	display: block;
}
#validation {
    display: table;
    clear: both;
    margin: 0px;
    width: 100%;
}
#captcha-valid {
	padding: 0% 10% 0% 0%;
	margin: auto;
	position: relative;
	width: 100px;
	float: none;
}
#text-valid {
	margin: auto;
	position: relative;
	width: 100px;
	float: none;
}
#bouton-valid {
	margin: auto;
	position: relative;
	width: 100px;
	float: none;
}
#bouton-valid-password {
	padding: 0% 1%;
	display: inline-block;
}
#img-captcha {	
	margin: 0px;
	display: flex;
}
#text-captcha {
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	line-height: 20px;
	margin: 15px 10px 0px 0px;
	display: flex;
}
.bouton {
	color: #fff;
	background-color: #337ab7;
	border-radius: 5px;
	padding: 5px 21px 5px 21px;
	border-color : #2e6da4;
	cursor: pointer;
	transition: background-color 0.5s;
	margin: 13px 0px 0px 0px;
	display: flex;
}
.bouton:hover {
	background-color: #124A96;
	border-color: #2e6da4;
}
#reponse-positive, .reponse-positive {
	color: #3c763d;
	background-color: #dff0d8;
	margin: 10px 20px 0px 20px;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
}
#reponse-negative, .reponse-negative {
	color: #AD2D2F;
	background-color: #F0C7C7;
	margin: 10px 20px 20px 20px;
	border: 1px solid #EFA8A8;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
	
}
#footer {
	margin: 0% 5% 0% 2%;
	padding: 0px;
}
#presentation {
	text-align: left;
	margin-bottom: 10%;
}
																/* Mise en forme du texte : */


h1 {
    font-size: 300%; 
    color: #323232;
    margin: 2% 0%;
	text-align: center;
}
h2 {
    font-size: 170%;
    color: #323232;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 2% 0px;
    font-style: italic;
}
h3 {

    font-size: 140%;
    color: #323232;
    padding: 0%;
    margin: 2%;
}
h4 {
	font-size: 110%;
    color: #323232;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 15px 0px;
}
h5 {
	font-size: 130%;
    color: #323232;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}
p,ul,li,td {
    color: black; 
	font-size: 100%;
	padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
a:link {
    color: #337ab7;
    text-decoration: none;
	transition: color 0.5s;
	transition: text-decoration 0.5s;
}
a:visited {
    color: darkslategrey;
}
a:hover {
    color: #245884;
    text-decoration: underline;
}

.lien-reinitialisation-mdp {
	margin-bottom: 5px;
	background-color: #fff;
	border-radius:5px;
	cursor:pointer;
	padding: 3px;
	font-size: 12px;
}

#passwordpasidentiques, #mail-necessaire-oubli {
	display:none;
}
