@charset "UTF-8";

/* GENERAL */

body {
	font-family: "Helvetica Neue", Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	font-size: 100%;
	color: black;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	font-style: normal;
	/* italic / normal / oblique */
	background-image: url(https://picsum.photos/1024/768?random=1);
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* CONTENU */


#header {
	margin: 0% 10% 5% 10%;
	padding: 0%;
}

#conteneur {
	width: 56%;
	margin: 5% 22% 5% 22%;
	background-color: rgba(236, 236, 236, 0.85);
	padding: 1% 0%;
	border: 0px solid #9C9C9C;
	border-radius: 10px;
	text-align: center;
}

.logo {
	margin: 2% 0% 0% 0%;

}

#form {
	background-color: unset;
	padding-top: 2%;
	padding-bottom: 3%;
	padding-right: 10%;
	padding-left: 10%;
}

.form-control {
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	display: block;
	float: none;
	line-height: 20px;
	position: static;
	margin: 0%;
}

.boutondesection {
	border: none;
	cursor: pointer;
	width: 100%;
	display: block;
	font-size: 140%;
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 15px 0px;
	color: #337ab7;
	text-decoration: none;
	transition: color 0.5s;
	transition: text-decoration 0.5s;
	background-color: rgba(255, 255, 255, 0);
}

.boutondesection:hover {
	color: #245884;
	text-decoration: underline;
}

.form-options-champs {
	box-sizing: border-box;
	width: 30%;
	border-radius: 5px;
	line-height: 20px;
	margin: 10px 0px 15px 0px;
	text-align: center;
}

.cacher {
	display: none;
}

.montrer {
	display: block;
	margin: 0% 0% 0% 0%;
}

#validation {
	display: table;
	clear: both;
	margin: 0px;
	width: 100%;
}

#captcha-valid {
	float: left;
	padding: 0px 0% 0px 15%;
}

#text-valid {
	float: left;
	padding: 0px 2%;
}

#bouton-valid {
	float: left;
	padding: 0px 0%;
}

#bouton-valid-password {
	padding: 0% 1%;
	display: inline-block;
}

#img-captcha {
	margin: 0px;
	display: flex;
}

#text-captcha {
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	line-height: 20px;
	margin: 15px 10px 0px 0px;
	display: flex;
}

.bouton {
	color: #fff;
	background-color: #337ab7;
	border-radius: 5px;
	padding: 5px 21px 5px 21px;
	border-color: #2e6da4;
	cursor: pointer;
	transition: background-color 0.5s;
	margin: 13px 0px 0px 0px;
	display: flex;
}

.bouton:hover {
	background-color: #124A96;
	border-color: #2e6da4;
}

.center {
	margin-left: auto !important;
	margin-right: auto !important;
}

#reponse-positive,
.reponse-positive {
	color: #3c763d;
	background-color: #dff0d8;
	margin: 10px 20px 0px 20px;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
}

#reponse-negative,
.reponse-negative {
	color: #AD2D2F;
	background-color: #F0C7C7;
	margin: 10px 20px 20px 20px;
	border: 1px solid #EFA8A8;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
}

#footer,
.explain {
	margin: 0% 7% 0% 7%;
	padding: 0px;
}

#presentation {
	text-align: left;
	margin-bottom: 10%;
}

/* Mise en forme du texte : */

h1 {
	font-size: 300%;
	color: #323232;
	margin: 2% 0%;
	text-align: center;
}

h2 {
	font-size: 170%;
	color: #323232;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 2% 0px;
	font-style: italic;
}

h3 {

	font-size: 140%;
	color: #323232;
	padding: 0%;
	margin: 2%;
}

h4 {
	font-size: 110%;
	color: #323232;
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 15px 0px;
}

h5 {
	font-size: 130%;
	color: #323232;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
}

p,
ul,
li,
td {
	color: black;
	font-size: 100%;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

a:link {
	color: #337ab7;
	text-decoration: none;
	transition: color 0.5s;
	transition: text-decoration 0.5s;
}

a:visited {
	color: darkslategrey;
}

a:hover {
	color: #245884;
	text-decoration: underline;
}


/* Connexion  */

#dashboardpanel {
	position: fixed;
	right: 0px;
	top: 0px;
	margin: 10px;
}

#boutonsconnect>input[type="button"] {
	color: #fff;
	background-color: #337ab7;
	border-radius: 5px;
	padding: 5px 21px 5px 21px;
	border-color: #2e6da4;
	cursor: pointer;
	transition: background-color 0.5s;
}

#boutonsconnect>input[type="button"]:hover {
	background-color: #124A96;
	border-color: #2e6da4;
}

#connexion,
#registration {
	margin: 45px 10px 0 0;
	position: fixed;
	top: 0px;
	right: 0px;
	width: 267px;
}

#connexion>form>*,
#registration>form>* {
	box-sizing: border-box;
	border-radius: 5px;
	line-height: 20px;
	margin: 0 0 6px 3px;
	width: 100%;
	float: right;
}

.connect {
	float: right;
}

.champ_modifiable {
	width: 300px;
	font-size: 18px;
	background-color: aliceblue;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin: 10px;
}

.lien-reinitialisation-mdp {
	margin-bottom: 5px;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	padding: 3px;
	font-size: 12px;
}

#passwordpasidentiques,
#mail-necessaire-oubli {
	display: none;
}

.external-link {
	margin-bottom: -3px;
	width: 17px;
	height: 17px;
}


/* ============== INSTALLATION =============== */

#admin, #infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#admin *, #infos * {
  font-size: 16px;
}

#admin input, #infos input {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 300px;
  text-align: center;
}
.displayNone {
  display: none !important;
}