@charset "UTF-8";

                                      /* GENERAL */

body {
  font-family: "Helvetica Neue",Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 100%;
  color: black;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
}
.entete {
  background-color: #e7fae7;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #6eb46e;
  justify-content: space-between;
  align-items: center;
}

#logo > img {
  width: 100px;
  height: 100px;
  margin-bottom: -4px;
}
.entete > form {
  margin-right: 40px;
  margin-top: -10px;
}
.bouton {
  color: #fff;
  background-color: #337ab7;
  border-radius: 5px;
  padding: 5px 21px 5px 21px;
  border-color : #2e6da4;
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 13px 0px 0px 0px;
  display: flex;
}
.bouton:hover {
  background-color: #124A96;
  border-color: #2e6da4;
}
h1 {
  margin-right: -40px;
}
#contenu_page {
  display: flex;
}

.displayNone {
  display: none !important;
}

                                              /* COLONNE */
.btn-new-lien{
  max-width: max-content;
  margin: 19px;
}

#col_latérale {
  width: 250px;
  display: block;
  position: sticky;
  padding: 15px;
  height: calc(100vh - 130px);
  border-right: 2px solid #ddd;
  top:105px;
}
#col_latérale h2 {
  text-align: center;
}
.btn-retour-accueil {
  font-size: 12px;
  text-decoration: none;
}
.btn-retour-accueil:before {
  content: "← ";
}
.puce {
  list-style: none;
  margin: 0;
  padding: 0;
}
.puce > li:hover, .active {
  background-color: #ffd37f;
  font-weight: bolder;
}
.puce > li {
  padding: 10px;
  background-color: #ffc65a;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.puce a {
  text-decoration: none;
  color: black;
}


                                                /* CONTENU */
#contenu {
  width: calc(100% - 250px);
  display: block;
  padding: 0 20px;
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

#contenu::before {
  content: "";
  position: sticky;
  top: 0;
  width: calc(100% + 40px);
  margin-left: -20px;
  height: 100%;
  box-shadow: inset 2px 2px 10px gray;
  pointer-events: none;
  z-index: 1;
  display: block;
  margin-bottom: calc(-100vh + 105px);
}

#contenu * {
  z-index: 0;
}


#mon_compte, #mes_liens, #confidentialite {
  padding: 25px;
  width: 85%;
}




                                          /* TABLEAU DES LIENS */


.tableau_liens {
  width: 100%;
  border: 1px solid black;
}

th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
td {
    border: 1px solid rgb(190,190,190);
    padding: 10px 10px;
}

table {
  text-align: center;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  font-size: 0.8rem;
}

.titre_colonne > * {
  font-weight: 600;
  padding: 10px 0px;
  background-color: #dbe6ff;
}

.url_du_lien {
  text-overflow: ellipsis; /* ajoutera "..." à la fin */
  overflow: hidden; /* older browsers */
  white-space: nowrap;
  max-width: calc(50ch * 0.5); /* ch pour nb de caractères*/
}
img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.pwd_div {
  width: 130px;
  margin: 0 auto;
}
.pwd_display {
  all: unset;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 2px;
  float: left;
  width: 80%;
}
.cacher_pwd{
  display: block;
}
.montrer_pwd, .img_cacher_pwd {
  display: none;
}
.img_voir_pwd {
  display: block;
}
.txt_copie {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 11%;
  margin-top: -25px;
  padding: 4px;
  width: 99px;
  background-color: #e7fae7;
  border-radius: 5px;
  transition: 1.5s;
}


                                       /* MON COMPTE  */


.champ_modifiable {
  width: 300px;
  font-size: 18px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 10px;
}
.message_sauvegarde {
  padding: 1px 30px;
  border-radius: 10px;
  width: max-content;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  margin: 10px auto;
}

#info_connexion {
  margin: 50px 0 0 0px;
  color: #8c8c8c;
}
.sauv_champ, #new_motdepasse, #new_motdepasse_bis {
  display: none;
}


.supprimer_compte::before {
  content: url("/assets/images/Corbeille.svg");
  width: 20px !important;
  height: 20px !important;
  position: relative;
  left: -30px;
  display: block;
  top: 10px;
}
.supprimer_compte {
  margin-left: 30px;
}
#m_n {
  color:red;
  background-color:#ffdada;
  visibility: hidden;
  padding: 8px 30px;
  width: max-content;
  margin: 10px 15px;
  border-radius: 5px;
}


                                      /* POPUP */

.labelretour {
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  right: 0px;
  width: 50px;
}
.fenetrepopup {
  position: fixed;
  top    : 0px;
  bottom : 0px;
  left   : 0px;
  right  : 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000 !important;
}

.Popup{
  position: fixed;
  top: 10%;
  bottom: 35%;
  right: 27%;
  left: 27%;
  background-color: #FFF;
  padding: 2%;
  border: 20px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #000;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #003A84 #FFF;
}
#ContenuPopup {
  padding: 25px 0px 0px 0px;
}
#info_motdepasse{
  background-color: #e7fae7;
  color: green;
  padding: 1px 30px;
  border-radius: 10px;
  width: max-content;
  margin: 0px auto 10px;
}
.center{
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.reponse-positive {
	color: #3c763d;
	background-color: #dff0d8;
	margin: 10px 20px 0px 20px;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
}
.reponse-negative {
	color: #AD2D2F;
	background-color: #F0C7C7;
	margin: 10px 20px 20px 20px;
	border: 1px solid #EFA8A8;
	border-radius: 5px;
	padding: 15px 20px;
	font-weight: bold;
}
.reponse-info {
  color: cornflowerblue;
  background-color: #dae9ff;
  margin: 10px 20px 20px 20px;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: bold;
}