.decorationNone {
  text-decoration: none;
}

.li-retour {
  font-size: inherit;
}

.menu_listes_noires {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu_listes_noires button {
  margin: 10px;
}

.tableau_ips_blacklistees,
.tableau_domaines_blacklistes,
.tableau_paramètres,
.tableau_users {
  width: 100%;
}

.domaines {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.flex * {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input_disabled {
  width: 100%;
  border: none;
  text-align: center;
  color: inherit;
  font-size: inherit;
}

.input_active {
  outline: auto;
  background-color: aliceblue;
  border-radius: 5px;
}

/* ================ STATITSTIQUES ================ */

.resume-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.stat-card {
  background-color: aliceblue;
  border: 2px solid #96ceff;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}

.stat-card:hover {
  background-color: #c8e5ff;
  cursor: pointer;
}

.stat-card span {
  font-size: 100px;
}

/* ================ GRAPHIQUES ================ */
.selecteur-periode {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.selecteur-periode select {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.graphics {
  display: flex;
  justify-content: space-around;
}

.graphic-users, .graphic-liens {
  width: 45%;
  background-color: aliceblue;
  margin: 5px 5px 40px 5px;
  padding: 0px 10px 70px 0px;
  border: 2px solid #96ceff;
  border-radius: 5px;
}

.graphic-users h3, .graphic-liens h3 {
  text-align: center;
}

.graphic-liens-mois, .graphic-liens-annees, .graphic-liens-jours,
.graphic-users-annees, .graphic-users-mois, .graphic-users-jours {
  height: 300px;
  display: flex;
  margin-left: 10px;
  width: 90%;
}

.graphic-liens::after, .graphic-users::after {
  content: "";
  background-color: #cfe9ff;
  width: 90%;
  height: 250px;
  margin: -293px 0 0 42px;
  display: block;
}

.graphic-liens-annees, .graphic-liens-jours,
.graphic-users-annees, .graphic-users-jours {
  display: none;
}

.annee, .mois, .jour {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.mois {
  width: calc(100% /12);
}
.jour {
  width: calc(100% / 31);
}

.valeur {
  background-color: #e7fae7;
  box-shadow: 2px 2px 0px #6eb46e;
  width: 60%;
  cursor: pointer;
}

.clef {
  transform: rotate(-60deg);
  margin-top: 30px;
  font-size: 12px;
}

.jour .clef {
  transform: rotate(-90deg);
}

.legende {
  width: 31px;
  margin-top: 48px;
  border-right: 1px solid black;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.echelon {
  margin-bottom: -8px;
  width: 31px;
  text-align: right;
}

.echelon::after {
  content: "–";
  margin: 0px -5px 0px 5px;
}

#toast {
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 10px;
}

#toast.success {
  background-color: #e7fae7;
  border-color: #6eb46e;
}

#toast.error {
  background-color: #ffe7e7;
  border-color: #ff6e6e;
}

#toast.info {
  background-color: #e7f8ff;
  border-color: #96ceff;
}

.vertical-center {
  margin: auto;
  padding: 0px 0 0 42px;
}